<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMS_Speed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SMS_Speed.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>B733F58E1F09C62229C2B6F7624B3A</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>CFAB335FF51D9F664229EEC55DA149</value>
            </setting>
            <setting name="IsUnicode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SandBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APIUrl" serializeAs="String">
                <value>http://rest.esms.vn/MainService.svc</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="Brandname" serializeAs="String">
                <value>DON CHICKEN</value>
            </setting>
            <setting name="SMSType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TemplateBirthday" serializeAs="String">
                <value>Chuc mung sinh nhat Quy khach {name}, DON CHICKEN chuc ban co mot thang sinh nhat y nghia. DON CHICKEN tang ban {product}. Luu y khi den an tai cac chi nhanh vui long xuat trinh the member va CMND/CCCD de nhan voucher.</value>
            </setting>
            <setting name="TemplatePoint" serializeAs="String">
                <value>{name} dang co {point} diem, ban da nhan duoc 1 phan {product}. Vui long {name} khi den nha hang de doi thuong nhe.</value>
            </setting>
        </SMS_Speed.Properties.Settings>
    </userSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
